<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

<div class="page">

  <aside class="sidebar">

    <div class="site-title">
      <a href="{{ '/' | relative_url }}">
  {{ Multivariete analysis with evoTS }}
</a>
    </div>

    <nav>
      <a href="/introduction/">Introduction</a>
      <a href="/installation/">Installation</a>
      <a href="/schedule/">Schedule</a>
      <a href="/exercise1/">Exercise 1</a>
      <a href="/exercise2/">Exercise 2</a>
      <a href="/resources/">Resources</a>
    </nav>

  </aside>

  <main>
    {{ content }}
  </main>

</div>

</body>

</html>
