<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

  <div class="page">

    <aside class="sidebar">

      <div class="site-title">
        <a href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </div>

      <nav>

        <a href="{{ '/' | relative_url }}">Start</a>

        <a href="{{ '/schedule/' | relative_url }}">Schedule</a>

        <a href="{{ '/installation/' | relative_url }}">Installation</a>

        <div class="menu-section">

          <a href="{{ '/tutorial/' | relative_url }}">
            Tutorials
          </a>

          <div class="submenu">
            <a href="{{ '/tutorial/introduction/' | relative_url }}">Introduction</a>
            <a href="{{ '/tutorial/data_import/' | relative_url }}">Data import</a>
            <a href="{{ '/tutorial/multivar_models/' | relative_url }}">Multivariate models</a>
            <a href="{{ '/tutorial/data_description/' | relative_url }}">Data description</a>
          </div>

        </div>

        <a href="{{ '/exercise1/' | relative_url }}">Exercise 1</a>

        <a href="{{ '/exercise2/' | relative_url }}">Exercise 2</a>

        <a href="{{ '/resources/' | relative_url }}">Other Resources</a>

      </nav>

    </aside>

    <main>
      {{ content }}
    </main>

  </div>

</body>

</html>
